<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">Admin Login</div>
        <div class="panel-body">
            <form #adminForm='ngForm' (ngSubmit)="submitForm(adminForm.value)">
                <label>userName</label>
                <input type="text" name="uname" ngModel #uname='ngModel' class="form-control" required pattern=[a-zA-Z]+>
                <label>password</label>
                <input type="password" name="pwd" ngModel #pwd='ngModel' class="form-control" required pattern=[a-zA-Z0-9]+>
                <button type="submit" [disabled]="adminForm.form.value" class="btn btn-success">submit</button>
            </form>
        </div>
    </div>
</div>
