/* You can add global styles to this file, and also import other style files
div {
    background-image: url(/assets/background.jpg);
    color: lime;
   }     */
   .active{
       color:greenyellow;
       background-color: lightcoral;
   }
   .headerlogo{
       height:50px;
   }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
