

<body>

<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <img src="assets/aboutpic.jpg" alt="Paris" class="rounded float-left" style="width:300px;height:200px">
    </div>
    <div class="flip-box-back">
      <h2>caring</h2>
      <li>Getting out of the hospital is a lot like resigning from a book club. You're not out of it until the computer says you're out of it. ...</li>
    </div>
    
  </div>
</div>
<div class="container">
    <div class="jumbotron">
      <h1>MY Rules</h1>      
      <p>Health care involves a diverse set of public and private data collection systems, including health surveys, administrative enrollment and billing records, and medical records, used by various entities, including hospitals, CHCs, physicians, and health plans.</p>
    </div>
</div>



<div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img src="assets/about3.jpg" alt="Paris" class="rounded float-left" style="width:300px;height:200px">
      </div>
      <div class="flip-box-back">
        <h3>caring</h3>
        <li>Getting out of the hospital is a lot like resigning from a book club. You're not out of it until the computer says you're out of it. ...</li>
      </div>
      
    </div>
  </div>
</body>


