<!-- <img src="assets/home.jpg" alt="..." class="img-thumbnail">
<img src="assets/contact.jpeg" class="rounded float-right" alt="not found">

<img src="assets/contact.jpeg" alt="..." class="img-thumbnail"> -->

<div class="top-content">
  <div class="container-fluid">
      <div id="carousel-example" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                  <img src="assets/carousel1.jpg" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/carousel2.jpg" class="img-fluid mx-auto d-block" alt="img2">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/carousel5.jpg" class="img-fluid mx-auto d-block" alt="img3">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                  <img src="assets/carousel6.jpg" class="img-fluid mx-auto d-block" alt="img4">
              </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

</div>
</div>
</div>




<div class="container">
  
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">values</h4>
        <p class="card-text"><strong>Respect</strong>– We respect the dignity of each individual at all times.<br>
          <strong>Compassion</strong>– We demonstrate our sincere compassion to all.<br>
          <strong>Teamwork</strong>– We recognize, embrace and capitalize on the unique talents of everyone.<br>
          <strong>Stewardship</strong>– We are prudent, careful and deliberate with all resources.</p>
        <a href="#" class="card-link">see moore...</a>
        
      </div>
    </div>
</div>
<div class="jumbotron text-center">
  <h1>About</h1>
  <p>COVID-19 alert
    If you think you have been exposed to novel coronavirus (COVID-19), and have developed any symptoms (cough, fever or difficulty breathing), call the Govt. of India helpline 1075</p> 
</div>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Advice on the use of masks</h3>
      <p>The use of masks in communities, during home care, and in health care settings in areas that have reported cases of COVID-19</p>
      <p>It is intended for individuals in the community, public health and infection prevention </p>
    </div>
    <div class="col-sm-4">
      <h3>What Should We Do at Home?</h3>
      <p>If possible, stay in a bedroom and use a bathroom separate from other people in the home.</p>
      <p>Use separate bedding and towels and not share these with other household members.</p>
    </div>
    <div class="col-sm-4">
      <h3>When Should I Call the Doctor?</h3>        
      <p>If the person you're caring for seems to be getting sicker, call your doctor right away. Tell the doctor about their symptoms and whether they've been tested for coronavirus (COVID-19).</p>
      <p>Go to the emergency room or call 911 if the person has trouble breathing, is confused, or is very drowsy.</p>
    </div>
  </div>
</div>
  <br>

